<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="row">
        @foreach (var post in ViewBag.Posts)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <a asp-controller="Blog" asp-action="Show" asp-route-id="@post.Id">
                            <h2 class="">@post.Name</h2>
                        </a>
                        <p class="lead">@post.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>


</div>
